.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 0 1% !important;
}

.infected {
  border: 2px solid rgba(0, 0, 200, 0.5);
  border-bottom: 10px solid rgb(0, 0, 200);
  background-color:red;
}

.recovered{
  border: 2px solid rgba(0, 200, 0, 0.5);
  border-bottom: 10px solid rgb(0, 200, 0);
}

.deaths{
  border: 2px solid rgba(200, 0, 0, 0.5);
  border-bottom: 10px solid rgb(200, 0, 0);
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }

  .container {
  margin: 10px 0;
}
}